<div class="container mt-4">

  <div class="mb-4">
    <h2>Search Country</h2>
    <input
      type="text"
      class="form-control"
      placeholder="Enter country name..."
      [(ngModel)]="searchTerm"
      (input)="searchCountries()"
    />

    <ul class="list-group mt-2">
      <li
        *ngFor="let country of filteredCountries"
        class="list-group-item list-group-item-action"
        [routerLink]="['/country', country.countryCode]"
      >
        {{ country.name }} ({{ country.countryCode }})
      </li>
    </ul>
  </div>

  <div class="mt-5">
    <h2>Random Countries & Next Holiday</h2>
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="let item of randomCountries"
      >
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ item.country.name }}</h5>
            <p *ngIf="item.holiday">
              <strong>{{ item.holiday.name }}</strong><br />
              {{ item.holiday.date }}
            </p>
            <p *ngIf="!item.holiday">No upcoming holidays</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
